@using AzureDay.WebApp.Config
@using AzureDay.WebApp.Localization.Host.Views.Home

@model AzureDay.WebApp.WWW.Models.Home.SpeakersModel

@{
    ViewBag.Title = $"AzureDay {Configuration.Year} - {Schedule.Title}";
}

<div class="boxedcontent" style="margin-top: 79px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="@Speakers.Img" alt="@Speakers.Title" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="titleborder center colortext">
                    <div>
                        <h1 class="animated fadeInDownBig">@Speakers.Title</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-size: 1.2em;">
                @Speakers.MeetSpeakers
            </div>
        </div>

        @foreach (var collection in Model.SpeakersCollections)
        {
            <div class="row">
                @foreach (var speaker in collection)
                {
                    <div class="col-md-3">
                        <img class="mySpeakerFlagImg" src="@speaker.Country.ImageUrl" />
                        <div class="thumbnail">
                            <img src="@speaker.PhotoUrl" alt="@speaker.FullName" />
                            <div class="caption">
                                <h4>
                                    <a href="/Speaker/@speaker.Id">
                                        @speaker.FullName <br />
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                </a>
                            </h4>
                            <h6 style="letter-spacing: 0px;">@speaker.Occupation</h6>

                            <span class="fontitalic">@speaker.Country.Title</span>

                            <div style="line-height: 1.0; text-align: justify;">
                                @Html.Raw(speaker.Bio)<br>
                            </div>
                            <div class="social-icons">
                                @if (!string.IsNullOrEmpty(speaker.WebUrl))
                                {
                                    <a href="@speaker.WebUrl" target="_blank"><i class="fa fa-globe"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.FacebookUrl))
                                {
                                    <a href="@speaker.FacebookUrl" target="_blank"><i class="fa fa-facebook"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.LinkedInUrl))
                                {
                                    <a href="@speaker.LinkedInUrl" target="_blank"><i class="fa fa-linkedin"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.GoogleUrl))
                                {
                                    <a href="@speaker.GoogleUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.YouTubeUrl))
                                {
                                    <a href="@speaker.YouTubeUrl" target="_blank"><i class="fa fa-youtube"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.TwitterUrl))
                                {
                                    <a href="@speaker.TwitterUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.MvpUrl))
                                {
                                    <a href="@speaker.MvpUrl" target="_blank"><i class="fa fa-user-circle-o"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.MsdnUrl))
                                {
                                    <a href="@speaker.MsdnUrl" target="_blank"><i class="fa fa-list-alt"></i></a>
                                }
                                @if (!string.IsNullOrEmpty(speaker.GitHubUrl))
                                {
                                    <a href="@speaker.GitHubUrl" target="_blank"><i class="fa fa-github"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        }
    </div>
</div>
