@using AzureDay.WebApp.Config
@using AzureDay.WebApp.Localization.Host.Views.Home

@model AzureDay.WebApp.WWW.Models.Home.WorkshopModel

@{
    ViewBag.Title = $"AzureDay {Configuration.Year} - {Schedule.Title}";
}

<div class="boxedcontent" style="margin-top: 79px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="@Workshops.Img" alt="@Workshops.Title" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="titleborder center">
                    <div>
                        <h1 class="animated fadeInDownBig" style="text-transform: capitalize">@Workshops.Title AzureDay</h1>
                        <h2 class="animated fadeInDownBig">@Workshops.Date</h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-size: 1.2em; margin-bottom: 20px;">
                @WorkshopEntity.About01 <br />
                @WorkshopEntity.About01a
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 alert alert-danger" style="font-size: 1.3em;">
                Please note that practical workshops are held on the 9th of November at Microsoft Ukraine (Kyiv, Zhylianska str. 75). Detailed instructions for workshop participants will be sent to their corresponding email addresses. Also you can follow our updates on Facebook &#64;azuredayua
            </div>
        </div>

        @Html.Partial("_Workshop", Model)

    </div>
</div>