@using AzureDay.WebApp.Config
@using AzureDay.WebApp.Localization.Host.Views.Shared

<div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
        <li data-target="#carousel-generic" data-slide-to="3"></li>
        <li data-target="#carousel-generic" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@_Banner.Date" alt="Azureday @Configuration.Year Ukraine date and location">
        </div>
        <div class="item">
            <img src="@_Banner.Tickets" alt="Azureday @Configuration.Year Ukraine">
        </div>
        <div class="item">
            <img src="@_Banner.Last_year" alt="Azureday @Configuration.Year Ukraine">
        </div>
        <div class="item">
            <img src="@_Banner.Audience01" alt="Azureday @Configuration.Year Ukraine">
        </div>
        <div class="item">
            <img src="@_Banner.Audience02" alt="Azureday @Configuration.Year Ukraine">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
    </a>
</div>
